time-in {
	/* text-align: center; */
	display: block;

	&::part(label) {
		font-size: 20px;
		margin: 0;
	}

	&::part(suffix) {
		font-size: 20px;
		vertical-align: baseline;
		text-box: trim-both ex alphabetic;
	}

	&::part(time) {
		font-size: 100px;
		font-family: monospace;
		vertical-align: middle;

		display: inline-flex;
		align-items: center;
	}

	&::part(seperator) {
		color: red;
		font-size: 75px;
		font-family: serif;
		text-box: trim-both ex alphabetic;
	}

	&::part(time-difference) {
		color: green;
		font-size: 50px;
		font-family: monospace;
		vertical-align: middle;
	}

	&::part(number) {
		color: orange;
	}
}

@layer default {
	body {
		padding: 3rem;
	}

	html {
		height: 100%;
	}

	body {
		min-height: 100%;
		margin: 0;
	}

	* {
		box-sizing: border-box;
	}

	:where(button, h1, h2, h3) {
		text-box: trim-both cap alphabetic;
	}

	:where(h1, h2, h3) {
		margin: 0;
	}
}
